<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <FileCheck.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>\\Thermaltake\почта\KUZIN\AdressFile.txt</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="Xins" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Yins" serializeAs="String">
                <value>200</value>
            </setting>
        </FileCheck.Properties.Settings>
    </userSettings>
</configuration>
